@font-face{
    font-family: "brandhitc";
    src: url("bradhitc.ttf");
}
body{
    background:url("../IMG/fondorp.png");
    background-size: cover;
}
#nuevo{
    background:url("../IMG/cafe1.jpg");
        background-size: cover;
}
#maria{
    font-family: "brandhitc";
    font-size: 50px;
    /*
    font: bold italic 60px  "brandhitc";*/
    color: white;
    text-align: center;
    border: white;
    border-style: solid;
    
    
}
/*h1:hover{
    color:yellow;
    cursor: pointer;
}*/


p{
    color: white;
    text-align: right;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
#start{
    vertical-align: middle;
}
img{
    vertical-align: middle;

    }
#imagen {
    width:200px;
    height:375px;
    position:relative;
}
#imagen>div
{
    position: relative;
    bottom:900px;
    color:#fff;
    background-color:#000;
    padding:300px 600px;
    opacity:0.5;
    font-weight:bold;
    font-size: 90px;
}
